symusic == 0.4.8
seaborn
lightning
matplotlib
pandas
numpy
wandb
pydash
einops
pretty_midi
torch
flask
flask-cors
transformers
tqdm
ipython
midi-player
gdown
# requires apt-get update && apt-get install -y portaudio19-dev
tinysoundfont